*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin-bottom: 10px;
}
.flex{
    width: 800px;
    height: 400px;
    margin: 0 auto;
    background-color: #78ecd3;
    display: flex;
    text-align: center;
}
.flex-item{
    width: 100px;
    height: 100px;
    background-color: #e44141;
    margin: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.direction{
    /* coloum:由上到下 */
    flex-direction: column;
    /* columb-reverse:由下到上  */
    flex-direction: column-reverse;
    /* row:由左到右 (預設) */
    flex-direction: row;
    /* row-reverse: 由右到左 */
    flex-direction: row-reverse;
}
.wrap{
    /* nowrap:不換行，內容寬高會自動調整 (預設) */
    flex-wrap: nowrap;
    /* wrap:換行 */
    flex-wrap: wrap;
    /* 換行 上下反轉 */
    flex-wrap: wrap-reverse;
}
.justify{
    /* flex-end:靠左 (預設) */
    justify-content: flex-start;
    /* flex-end: 靠右*/
    justify-content: flex-end;
    /* space-around: 左右平均寬度分散 */
    justify-content: space-around;
    /* space-between: 左右貼平分散 */
    justify-content: space-between;
    /* space-evenly: 平均分散 */
    justify-content: space-evenly;
}
.align-content{
    /* 要設定 flex-wrap: wrap; 才會有效果 */
    flex-wrap: wrap;
    /* flex-start:靠上 (預設) */
    align-content: flex-start;
    /* flex-end:靠下 */
    align-content: flex-end;
    /* center:置中 */
    align-content: center;
    /* space-around:上下平均寬度分散 */
    align-content: space-around;
    /* space-between: 上下貼平分散*/
    align-content: space-between;
    /* space-evenly: 平均分散*/
    align-content: space-evenly;
}