*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.block {
    width: 1000px;
    height: 1000px;
    margin: 20px auto;
    background-color: rgba(216, 195, 124, 0.653);
    position: relative;
}

.cube {
    width: 100px;
    height: 100px;
    background-color: rgb(48, 166, 78);
    border: 1px solid black;
    line-height: 100px;
    text-align: center;
}

.static {
    position: static;
    background-color: rgb(72, 163, 196);
}

.relative {
    position: relative;
    background-color: rgb(252, 17, 17);
}

.absolute {
    position: absolute;
    background-color: rgb(223, 168, 15);
    top: 0;
    left: 20;
}

.fixed {
    position: fixed;
    background-color: rgb(209, 206, 69);
    top: 0;
    left: 20;
}