.mobile-icon {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    >span {
        // display: inline-block;
        width: 30px;
        height: 5px;
        background: #5f5757;
        margin-bottom: 5px;
        transition-property: background-color;
        transition-duration: 0.5s;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &:hover {
        >span {
            background: red;
        }
    }
}

#mobile-icon-switch{
    // display: none;
    position: relative;
    &:checked{
        ~.mobile-icon{
            >span{
                position: absolute;
                &:first-child{
                    transform: rotate(45deg);
                }
                &:last-child{
                    transform: rotate(-45deg);
                }
                &:nth-child(2){
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {

}
