@import "reset";

body{
    background-color: #505068;
    height: 1000vh;
}
.header{
    // 固定header在畫面的位置
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    .header-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        border-top-right-radius: 0 ;
        border-top-left-radius: 0;
    }
    .menu{
        display: flex;
        font-weight: bold;
        font-size: 20px;
        li{
            text-align: center;
            margin-left: 10px;
            // 消除左邊距
            &:first-child{
                margin-left: 0;
            }
            &:hover{
                color: #e48912;
            }
        }
        .en{
            font-size: 12px;
            text-transform: uppercase;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }
}
.join-form{
    // min-height: 100vh;
    background: #000;
    background-image: url(../images/banner.jpeg);
    background-size: cover;
    color: #fff;
    .join-form-content{
        display: flex;
        // justify-content: space-between;
        align-items: center;
        min-height: 100vh;
        .content-wrap{
            display: flex;
            background-color: rgba(14, 50, 80, 0.9);
            width: 100%;
            >div{
                width: 50%;
                // flex: 1;
                padding: 20px;
                position: relative;
                &:first-child::before{
                    content:"";
                    border: 1px dashed red;
                    height: 100%;
                    position: absolute;
                    right: 10px;
                    top: 20px;
                    // 內距20px
                    height: calc(100% - 40px);
                    // 上下 padding 20px
                }
            }
        }
        
    }
}