@import 'reset';

.block{
    width: 400px;
    height: 400px;
    background-color: #a257c0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fdf9ff;
    cursor: pointer;
    &:active{
        animation-name: move;
        animation-duration: 3s;
        transform: translateY(1000px);
    }
}
@keyframes move{
    from{
        transform: translate(0);
    }
    to{
        transform: translateY(1000px);
    }
}