@import 'reset';

.block{
    background-color: #93df4b;
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 600px){
    .block{
        background-color: #b1ebde;
        color: rgb(5, 5, 5);
    }
}

@media screen and (max-width: 800px){
    .block{
        background-color: #744c4c;
        color: white;
    }
}

