@import '_reset1';
#response {
    border: 1px solid #dedede;
    padding: 20px;
    margin-top: 20px;
    display: none;

    &.active {
        display: block;
    }

    &.fail {
        >span {
            color: red;
        }
    }

    >span {
        font-size: 30px;
        font-weight: 700;
        color: blue;
    }
}